/*CSS for the color picker page*/

.color-grid {
	display: grid;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: minmax(75%, 548px) minmax(25%, 183px);
	grid-template-rows: minmax(85%, 490px) minmax(15%, 86px);
	padding-right:2%;
	padding-left:2%;
}

.color-new {
	min-height: 75vh;
	margin-top: max(15vh, 115px);
}

.color-edit {
	height: 90%;
	margin-top: 2vh;
}

.button-color-picker {
	width: 100%;
	align-self: center;
	justify-self:start;
}

.save-button {
	width: 100%;
	height: max(6vh, 46px);
	background-color: #625780;
	border:1px solid #FEEDDF1F;
	border-radius: 8px;
	color: #FEEDDF;
	font-size: max(2vh, 15px);
	cursor: pointer;
}

.save-button:hover {
	background-color: #8378A2;
}


#selectors {
	display:grid;
	justify-self:center;
	grid-template-columns: 49% 49%;
	column-gap: 2%;
	grid-template-rows: repeat(6, 17%);
	margin-bottom: 5%;
	width: 60%;
	height: 75%;
	align-self: center;
} 

.color-selector {
	height: clamp(46px,  5vh, 5.5vh);
	width: clamp(46px,  5vh, 5.5vh);
	/*width: max(6vh, 46px);*/
	border-radius: 50%;
	margin:5%;
	align-self: center;
	justify-self:center;
}

#add-selector {
	border: 1px solid #FEEDDF;
	background-color: transparent;
	color: #FEEDDF;
	font-size: max(4vh, 30px);
	text-align: center;
	cursor: pointer;
}

#add-selector:hover {
	background-color: #433D66;
}

#color-select-delete{
	width: 50%;
	filter: invert(1);
}


/*CSS for the slider*/

.slider-img {
	width: 4%;
}

#slider-block {
	width: 100%;
	align-self: center;
}

#slider {
	width: 75%;
	margin-right: 2%;
	margin-left: 2%;
	border-radius: 8px;
	height: 7px;
	outline: none; 
	transition: background 450ms ease-in;
	-webkit-appearance: none;
}

#slider::-webkit-slider-thumb {
	appearance: none;
	cursor: pointer;
	background-color: #FEEDDF;
	border-radius: 0;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	-webkit-appearance: none;
}


@media only screen and (max-width:930px) and (any-hover: none) {

	.color-grid {
		width: 90%;
		grid-template-columns: 100%;
		grid-template-rows: minmax(15%, 86px) minmax(70%, 490px) minmax(15%, 86px);
	}


}
