@import "colorPicker.css";
@import "modes.css";
@import "overlay.css";
@import "readings.css";
@import "rules.css";

* {
    -webkit-tap-highlight-color: transparent;
}

body {
	background-color: #0D0828;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size:max(1.8vh, 15px);
	color:#FEEDDF;
	/*min-width:933px;*/
	margin:0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color:#FEEDDF;
	text-decoration:none;
}

p {
	margin: 0px;
	line-height: 1.5;
}

ul {
	padding-inline-start: 0px;
}


li {
	list-style-type: none;
}

button {
	outline:none;
}

.float-left {
	float: left;
}

#root {
	position: relative;
	width: 100vw;
	/*min-width: 1024px;*/
	height: 100vh;
	/*min-width: 1024px;*/
	margin-right: auto;
	margin-left: auto;
	overflow:scroll;
}

/*Specific to the non-Chrome browsers*/
#browser-warning {
	width: max(45%, 460px);
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

#browser-warning img {
	width: 100%;
}

#browser-warning a {
	text-decoration: underline;
	text-decoration-color:#FEEDDF;
	text-decoration-thickness:1px;
}

#browser-warning p {
	font-size: max(5vh, 35px);
	text-align: center;
	text-justify: inter-word;
}



/*General page layout*/

.grid-content {
	display: grid;
	height: max(98%, 755px);
	width: max(99%, 1016px);
	grid-template-columns: minmax(18%, 182px) minmax(80%, 812px);
	grid-column-gap: 2%;
	min-height: 500px;
}

.column-one {
	grid-column-start: 1;
}

.column-two {
	grid-column-start: 2;
}

#logo {
	margin-top:max(2vh, 16px);
	margin-left:max(1vh, 8px);
}

#logo img{
	width: 95%;
	min-width: 210px;
}

.grid-row-one {
	grid-row-start: 1;
}

.grid-row-two {
	grid-row-start: 2;
}

.grid-row-three {
	grid-row-start: 3;
}

.grid-row-four {
	grid-row-start: 4;
}

.display-inline {
	display:inline-block;
}

/*Navigation bar specific*/

#nav-bar {
	margin-top: max(5vh,38px);
	margin-left: max(3vh, 23px);
	display:grid;
	width: 8vw;
	height: 65vh;
	min-height: 490px;
	grid-template-rows: repeat(4, 25%);
}

#nav-bar img {
	width: 60%;
	min-width: 65px;
}

.nav-icon-active {
	color:#FA4D3D;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.nav-icon-inactive {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}


#disconnect-button {
	position: absolute;
	top: max(3%, 23px);
	right: max(3%, 31px);
	width: max(12%, 122px);
	height: max(5%, 38px);
	border-radius: 8px;
	border: 1px solid transparent;
	background-color: #F88876;
	cursor: pointer;
	font-size: max(1.6vh, 12px);
	font-weight: 700;
	color: #0D0828;
}

#disconnect-button:hover {
	background-color: #FA4D3D;
	color: #FEEDDF;
}


/*CSS for the Home page*/


.button-home {
	width: max(50%, 512px);
	height: max(8vh, 61px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	padding: 1%;
	background-color: #FA4D3D;
	border:1px solid #FEEDDF1F;
	border-radius: 8px;
	color: #FEEDDF;
	font-size: max(4vh, 30px);
	cursor: pointer;
}


.button-home:hover {
	background-color: #F08F84;
	color: #0D0828;
}


@media only screen and (max-width:930px) and (any-hover: none) and (orientation: portrait) {
	body {
		min-width:360px;
		text-size-adjust:none;
		user-select: none;
	}

	#root {
		min-width: 360px;
		overflow:hidden;
	}

	#top-section {
		position: absolute;
		background-color: #DACEDA40;
		height: max(70px, 10%);
		width: 100%;
		top: 0px;
	}

	#top-section p {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%); 
		font-size: 3.5vh;
	}

	#logo-mobile {
		position: absolute;
		left: 40%;
		top: 20%;
		transform: translate(-40%, -20%); 
	}

	#disconnect-icon {
		position: absolute;
		background-color: transparent;
		border:none;
		width: max(35px, 5vh);
		height: max(35px, 5vh);
		left: 3%;
		top: 3%;
		transform: translate(-3%, -3%); 
	}

	#disconnect-icon img {
		width: 90%;
	}

	#bottom-bar-row {
		align-self: center;
	}

	#bottom-nav-bar {
		position: relative;
		z-index:10;
		background-color:#0D0828;
		padding:5px;
		padding-bottom: 0px;
		display: grid;
		grid-template-columns: repeat(5, 20%);
		font-size:clamp(8px, 1.5vh, 15px);
		width: calc(100% - 10px);
		height: max(55px, 14vw);
		border-top:1px solid #FEEDDF1F;
	}

	#bottom-nav-bar a {
		align-self: center;
		justify-self: center;
		height: fit-content;
		width:fit-content;
	}

	#bottom-nav-bar img {
		width: 60%;
	}

	#maia-button {
		background-color: transparent;
		font-family: 'Source Serif Pro', serif;
		font-size: 30px;
		height: min-content;
		align-self: center;
		justify-self: center;
	}

	/*Specific to the non-Chrome browsers*/
	#browser-warning {
		width: max(80%, 300px);
	}


	#browser-warning p {
		font-size: max(4vh, 15px);
	}

	.grid-content {
		margin-top: max(70px, 10vh);
		height: max(98vh,570px);
		width: 100%;
		grid-template-columns: 100%;
		grid-template-rows: minmax(89%, 507px) minmax(11%, 62px);
	}

	.button-home {
		width: max(50%, 250px);
		font-size: max(4vh, 30px);
	}

}


/*@media only screen and (max-width:930px) and (any-hover: none) and (orientation: landscape) {
	body {
		min-width:360px;
		text-size-adjust:none;
		user-select: none;
	}

	#root {
		min-width: 360px;
		overflow:hidden;
	}

	#rotate-img {
		position: absolute;
		z-index: 90;
		height: 80%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%); 
	}

}*/
