/*CSS for the modes page*/

.mode-grid {
	display: grid;
	width: 90%;
	height: 60%;
	min-height: 60vh;
	margin-right: auto;
	margin-left: auto;
	padding:2%;
	margin-top: max(12vh, 92px);
	grid-template-columns: repeat(3, 28%);
	grid-column-gap: 6%;
	grid-row-gap: 3%;
	overflow-y: auto;
}

#mode-grid-default {
	grid-template-rows: repeat(10, minmax(192px, 25vh));
}

#mode-grid-custom {
	grid-template-rows: repeat(10, minmax(192px, 25vh));
}

.mode-sub-grid {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 83% 15%;
	grid-row-gap: 2%;
	border: 1px solid transparent;
}

.mode-text {
	display: grid;
	grid-template-columns: 65% 35%;
	width: 100%;
	height: 34px;
	background-color: #0D0828;
	color:#FEEDDF;
	justify-self:center;
}

.mode-text div{
	display: inline-block;
	max-width: 50ch;
	text-overflow: ellipsis;
	overflow: hidden;
}

.mode-text div:hover {
	overflow-wrap: break-all;
	word-wrap: break-all;
	hyphens: auto;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

.mode-button {
	padding:0;
	position: relative;
	z-index: 1;
	border-radius: 8px;
	border: 1px solid rgba(254, 237, 223, 0.1);
	cursor: pointer;
}

.mode-button:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 5px;
	/*border: 2px solid #ccc;*/
}

.hover-button {
	display: inline-block;
	width: 30%;
	border: 1px solid transparent;
	background-color: transparent;
	padding:0;
	margin-left: 5%;
	margin-right: 5%;
	cursor:pointer;
}

.hover-button img {
	width: 90%;
	height:auto;
}

.edit-button {
	display: none;
}

.delete-button {
	display: none;

}

#add-mode {
	border: 1px solid #FEEDDF;
	border-radius: 8%;
	background-color: transparent;
	height: max(20vh, 153px);
	width: max(20vh, 153px);
	margin:5%;
	align-self: center;
	justify-self:center;
	color: #FEEDDF;
	font-size: 15vh;
	cursor: pointer;
}

#add-mode:hover {
	background-color: #433D66;
}



/*CSS for the tabs*/

.react-tabs {
	height: 65vh;
	margin-top: max(2.5vh, 15px);
}

.react-tabs__tab-panel {
	height: 65vh;
	padding-right:2%;
	padding-left:2%;
}

.react-tabs__tab-list {
	list-style-type: none;
	margin-top: max(10vh, 77px);
	margin-bottom: max(9vh, 69px);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.react-tabs__tab {
	display:inline;
	padding:10%;
	padding-bottom: 5%;
	cursor:pointer;
}

.react-tabs__tab--selected {
	border-bottom:3px solid #FA4D3D;
	color: #FA4D3D;
	font-weight: 700;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
	display: block;
}


@media only screen and (max-width:930px) and (orientation: portrait) {
	.mode-grid {
		margin-top: max(2.5vh, 20px);
		grid-template-columns: repeat(2, 46%);
		grid-template-rows:repeat(10, minmax(150px, 25vh));
		grid-column-gap: 6%;
		overflow-y: visible;
	}

	#mode-grid-default {
		grid-template-rows: repeat(10, minmax(150px, 25vh));
	}

	#mode-grid-custom {
		grid-template-rows: repeat(10, minmax(150px, 25vh));
	}

	.mode-text {
		grid-template-columns: 100%;
	}

	.react-tabs {
		height: calc(max(79vh, 460px) - max(2.5vh, 20px));
		margin-top: max(2.5vh, 15px);
	}

	.react-tabs__tab-list {
		margin-top: 0px;
		margin-bottom: max(4vh, 20px);
	}

	.react-tabs__tab {
		padding:5%;
	}

	.react-tabs__tab-panel {
		height: calc(max(70vh, 445px));
		overflow-y: scroll;
	}

	#add-mode {
		height: 100%;
		width: 100%;
		margin:0%;

	}

	#touch-menu {
		display:grid;
		grid-template-rows: 50% 50%;
		min-height: 70px;
	}

	.touch-menu-button {
		display: grid;
		grid-template-columns: 90% 10%;	
		border: none;
		background-color: transparent;
	}
	
	.touch-menu-button-top {
		border-bottom:1px solid #FEEDDF1F;
	}

	.touch-menu-button p {
		font-size: max(3vh, 17px);
		align-self:center;
		justify-self:start;
	}

	.touch-menu-button img {
		width: 100%;
		height:auto;
		align-self:center;
		filter: invert(1);
	}
}