/* CSS for the readings page*/

#readings-grid {
	display: grid;
	width: 90%;
	height: 60vh;
	min-height: 500px;
	margin-right: auto;
	margin-left: auto;
	padding:2%;
	margin-top: max(20vh, 153px);
	grid-template-columns: repeat(2, 44%);
	grid-template-rows: repeat(1, minmax(150px, 20vh));
	grid-column-gap: 4%;
	grid-row-gap: 6%;
	overflow-y: scroll;
}


.reading-tile {
	background-color: #FEEDDF40;
	border-radius: 13px;
}

.reading-title {
	color:#FAD1BE;
	font-size: 25px;
	margin-left:5%;
	margin-top:5%;
}

.reading-measure {
	display: grid;
	grid-template-columns: 32% 60%;
	grid-column-gap: 4%;
	margin-top:6%;
	margin-left:4%;
	align-items: center;	
	font-size: max(min(5vh, 8vw), 38px);
}

.reading-text {
	justify-self: center;	
}

.reading-icon {
	justify-self: center;
}

.reading-icon img{
	width: 80%;
}




@media only screen and (max-width:930px) and (any-hover: none) {

	#readings-grid {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		height: 88%;
		min-height: 450px;
		margin-top: 0px;
		margin-top: max(25px, 7%);
		grid-template-columns: repeat(2, 48%);
		grid-template-rows: repeat(1, minmax(150px, 40vh));
		grid-row-gap: 3%;
	}

	.reading-title {
		display: grid;
		grid-template-columns: 23% 73%;
		grid-column-gap: 4%;
		font-size: clamp(17px, 4vw, 25px);
		margin:10% auto 0px auto; /* top | right | bottom | left */
		width: 90%;
	}

	.reading-text {
		justify-self: start;
		align-self:center;
	}

	.reading-icon {
		width:100%;
	}

	.reading-icon img{
		width: 100%;
	}

	.reading-measure {
		width: fit-content;
		margin-top: 10%;
		margin-right: auto;
		margin-left: auto;
		display: block;	
		font-size:clamp(35px, min(5vh, 8vw), 45px);
		vertical-align: middle;
	}

}