/* CSS for the readings page*/

#readings-grid {
	display: grid;
	width: 90%;
	height: 60vh;
	min-height: 500px;
	margin-right: auto;
	margin-left: auto;
	padding:2%;
	margin-top: max(20vh, 153px);
	grid-template-columns: repeat(2, 46%);
	grid-template-rows: repeat(1, minmax(150px, 20vh));
	grid-column-gap: 4%;
	grid-row-gap: 6%;
	overflow-y: scroll;
}


.reading-tile {
	background-color: #FEEDDF40;
	border-radius: 13px;
}

.reading-title {
	color:#FAD1BE;
	font-size: 25px;
	margin-left:5%;
	margin-top:5%;
}

.reading-measure {
	display: grid;
	grid-template-columns: 32% 60%;
	grid-column-gap: 4%;
	margin-top:6%;
	margin-left:4%;
	align-items: center;	
	font-size: max(min(5vh, 8vw), 38px);
}

.reading-text {
	justify-self: center;	
}

.reading-icon {
	justify-self: center;
}

.reading-icon img{
	width: 80%;
}