/*CSS for the rules*/

#rules-page {
	width: 90%;
	height: max(65vh, 500px);
	margin-right: auto;
	margin-left: auto;
	padding:2%;
	margin-top: max(20vh,153px);
	overflow-y: auto;
}

#rules-page p {
	margin-left: 2%;
}

.rules-div {
	min-width: 50%;
	margin-top: max(5vh, 38px);
}

.text-with-input {
	min-width: 90%;
}

.subsection {
	margin-top: 10%;
	margin-left: 5%;
}

.subsection-sublevel {
	margin-left: 5%;
}

.rule-text {
	display: inline-block;
	vertical-align: middle;
} 

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

#number-input {
	background-color:transparent;
	border:none;
	border-bottom: 1px solid #FEEDDF3A;
	font-size:20px;
	color:#FEEDDF;
	width: 35px;
	text-align: center;
	outline: none;
}

/*CSS for the radio checkbox*/

input[type='radio'] {
	-webkit-appearance: none;
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 2px;
	background-clip: content-box;
	border: 2px solid #bbbbbb;
	border-radius: 50%;
	outline: none;
	vertical-align: middle;
}

input[type="radio"]:checked {
	border: 2px solid #FA4D3D !important;
	background-color:#FA4D3D !important;
	vertical-align: middle;
}


/*CSS for the time picker*/

.time-picker {
	display:inline-block;
	margin-left: 1%;
	max-width:35%;
	border:none;
	border-bottom: 1px solid #FEEDDF3A;
	background-color:transparent;
	color:#FEEDDF;
	font-size: max(2.5vh, 20px);
	outline: none;
	text-align: center;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	filter: invert(80%) sepia(25%) ;
}

/*CSS for the switch*/

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 38px;
	height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #FA4D3D;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
/*  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);*/
	transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 30px;
}

.slider.round:before {
	border-radius: 50%;
}


@media only screen and (max-width:930px) and (orientation: portrait){

	#rules-page {
		width: 90%;
		height: 97%;
		margin-top: 0px;
	}

	.text-with-input {
		min-width: 70%;
	}

	.rules-div {
		min-width: 90%;
		border-top: 1px solid #FEEDDF1F;
		margin-top: 0px;
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.rule-text {
		width: 80%;
		font-size: max(2vh, 15px);
	}

	.subsection p {
		display: inline-block;
		width: fit-content;
		max-width: 90%;
		min-width: 10%;
	}

	.long-rule-text {
		width: 85% !important;
		vertical-align:middle;
		font-size: 2vh;
		font-size: max(2vh, 15px);
	}

}
