body {
	background-color: #0D0828;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color:#FEEDDF;
	min-height:700px;
	min-width:1245px;
	overflow:scroll;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color:#FEEDDF;
	text-decoration:none;
}

.grid-content {
	display: grid;
	height: 100vh;
	grid-template-columns: 18% 80%;
	grid-column-gap: 2%;
}

.content-two {
	display: grid;
	grid-template-rows: 18% 80%;
	grid-row-gap: 2%;
}

#logo {
	margin-top:1%;
	margin-left:1%;
}

#logo img{
	width: 95%;
	min-width: 210px;
}

#nav-bar {
	margin-top: 5vh;
	margin-left: 3vh;
	display:grid;
	width: 8vw;
	height: 65vh;
	min-height: 490px;
	grid-template-rows: repeat(4, 25%);
}

#nav-bar img {
	width: 60%;
}

.nav-icon-active {
	color:#FA4D3D;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.nav-icon-inactive {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.grid-row-one {
	grid-row-start: 1;
}

.grid-row-two {
	grid-row-start: 2;
}

.grid-row-three {
	grid-row-start: 3;
}

.grid-row-four {
	grid-row-start: 4;
}

.column-one {
	grid-column-start: 1;
}

.column-two {
	grid-column-start: 2;
}


.react-tabs__tab-panel {
	padding-right:2%;
	padding-left:2%;
}

.react-tabs__tab-list {
	list-style-type: none;
	margin-top: 12vh;
	margin-bottom: 9vh;
	font-size:16px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.react-tabs__tab {
	display:inline;
	padding:10%;
	padding-bottom: 5%;
	cursor:pointer;
}

.react-tabs__tab--selected {
	border-bottom:3px solid #FA4D3D;
	color: #FA4D3D;
	font-weight: 700;
}




/*.menu {
	display: grid;
	width: 30%;
	margin-top: 7%;
	margin-right: auto;
	margin-left: auto;
	grid-template-columns: 50% 50%;
}

button {
	transition-duration: 0.4s;
	border-radius: 12px 12px 0 0;
	width: 90%;
	background-color: #0D0828;
	border: none;
	font-size: 16px;
}

button:hover {
	background-color: #F88876;
	color: #FEEDDF;
}

.nav-button-inactive {
	color: #FEEDDF;
}

.nav-button-active {
	border-bottom: 3px solid #FA4D3D;
	color: #FA4D3D;
	font-weight: 700;
}*/
