body {
	background-color: #0D0828;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size:max(1.8vh, 15px);
	color:#FEEDDF;
	min-height:700px;
	min-width:1024px;
	margin:0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color:#FEEDDF;
	text-decoration:none;
}

p {
	margin: 0px;
	line-height: 1.5;
}

li {
	list-style-type: none;
}

button {
	outline:none;
}

#root {
	width: 100vw;
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
}

/*General page layout*/

.grid-content {
	display: grid;
	height: 98%;
	width: 99%;
	grid-template-columns: 18% 80%;
	grid-column-gap: 2%;
}

.column-one {
	grid-column-start: 1;
}

.column-two {
	grid-column-start: 2;
}

#logo {
	margin-top:2vh;
	margin-left:1vh;
}

#logo img{
	width: 95%;
	min-width: 210px;
}

/*Navigation bar specific*/

#nav-bar {
	margin-top: 5vh;
	margin-left: 3vh;
	display:grid;
	width: 8vw;
	height: 65vh;
	min-height: 490px;
	grid-template-rows: repeat(4, 25%);
}

#nav-bar img {
	width: 60%;
}

.nav-icon-active {
	color:#FA4D3D;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.nav-icon-inactive {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.grid-row-one {
	grid-row-start: 1;
}

.grid-row-two {
	grid-row-start: 2;
}

.grid-row-three {
	grid-row-start: 3;
}

.grid-row-four {
	grid-row-start: 4;
}

#disconnect-button {
	position: absolute;
	top: 3%;
	right: 3%;
	width: 12%;
	height: 5%;
	border-radius: 8px;
	border: 1px solid transparent;
	background-color: #F88876;
	cursor: pointer;
	font-size: 1.6vh;
	font-weight: 700;
	color: #0D0828;
}


/*CSS for the color picker page*/

.color-grid {
	display: grid;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 75% 25%;
	grid-template-rows: 85% 15%;
	padding-right:2%;
	padding-left:2%;
}

.color-new {
	min-height: 75vh;
	margin-top: 15vh;
}

.color-edit {
	height: 90%;
	margin-top: 2vh;
}

.button-color-picker {
	width: 100%;
	align-self: center;
	justify-self:start;
}

.save-button {
	width: 100%;
	height: 6vh;
	background-color: #403954;
	border-radius: 8px;
	color: #FEEDDF;
	font-size: 2vh;
	cursor: pointer;
}

.save-button:hover {
	background-color: #625780;
}


#selectors {
	display:grid;
	justify-self:center;
	grid-template-columns: 49% 49%;
	column-gap: 2%;
	grid-template-rows: repeat(5, 20%);
    margin-bottom: 5%;
	width: 60%;
	height: 70%;
} 

.color-selector {
	height: 6vh;
  	width: 6vh;
	border-radius: 50%;
	margin:5%;
	align-self: center;
	justify-self:center;
}

#add-selector {
	border: 1px solid #FEEDDF;
	background-color: transparent;
	color: #FEEDDF;
	font-size: 4vh;
	text-align: center;
	cursor: pointer;
}

#add-selector:hover {
	background-color: #433D66;
}

#color-select-delete{
	width: 50%;
	filter: invert(1);
}


/*CSS for the slider*/

.slider-img {
	width: 4%;
}

#slider-block {
	width: 100%;
	align-self: center;
}

#slider {
	width: 75%;
	margin-right: 2%;
	margin-left: 2%;
    border-radius: 8px;
    height: 7px;
    outline: none; 
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

#slider::-webkit-slider-thumb {
	appearance: none;
	cursor: pointer;
	background-color: #FEEDDF;
    border-radius: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    -webkit-appearance: none;
}


/*CSS for the Home page*/

#home {
	margin-top: 45vh;
	display: grid;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	grid-template-columns: 49% 49%;
	column-gap: 2%;
}

.button-home {
	width: 80%;
	height: 8vh;
	border-radius: 8px;
	font-size: 4vh;
	background-color: #403954;
	color: #FEEDDF;
	cursor: pointer;
}

.button-home:hover {
	background-color: #433D66;
}


/*CSS for the modes page*/

#mode-grid {
	display: grid;
	width: 90%;
	height: 60vh;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15vh;
	grid-template-columns: repeat(3, 25%);
	grid-template-rows: repeat(10, 23vh);
	grid-column-gap: 8%;
	grid-row-gap: 8%;
	overflow-y: scroll;
}

.mode-sub-grid {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 90% 10%;
	grid-row-gap: 2%;
	border: 1px solid transparent;
}

.mode-text {
	display: grid;
	grid-template-columns: 65% 35%;
	width: 100%;
	height: auto;
	background-color: #0D0828;
	color:#FEEDDF;
	justify-self:center;
}

.mode-button {
	padding:0;
	position: relative;
	z-index: 1;
	border-radius: 8px;
	border: 1px solid rgba(254, 237, 223, 0.1);
	cursor: pointer;
}

.hover-button {
	display: inline-block;
	width: 30%;
	border: 1px solid transparent;
	background-color: transparent;
	padding:0;
	margin-left: 5%;
	margin-right: 5%;
	cursor:pointer;
}

.hover-button img {
	width: 90%;
}

.edit-button {
	display: none;
}

.delete-button {
	display: none;

}



/*CSS for the overlay window*/


.Blur {
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	z-index: 80;
}

.OverlayInputWindow {
	border-radius: 15px;
	background-color:#403954;
	position: absolute;
	width: 25%;
	height: 25%;
	padding: 1%;
	z-index: 90;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.24));
	/*to center the div with position absolute, position top corner and translation of center of div where top corner is*/
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.OverlayEditWindow {
	border-radius: 15px;
	background-color:#403954DF;
	position: absolute;
	min-height: 75vh;
	height:600px;
	width:925px;
	padding: 1%;
	z-index: 90;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.24));
	/*to center the div with position absolute, position top corner and translation of center of div where top corner is*/
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#overlay-title {
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 7%;
	margin-top: 8%;
}

#overlay-text {
	margin: 3%;
	margin-top: 8%;
	margin-bottom: 6%;
	font-size:13px;
	text-align: center;
}

#overlay-input {
	margin: 3%;
	width: 90%;
	height: 13%;
	border-radius: 4px;
	outline: none;
}

#overlay-edit {
	margin-top: 1%;
	padding-right:2%;
	padding-left:2%;
	background-color:transparent;
	border:none;
	border-bottom:1px solid #FEEDDF1F;
	color:#FEEDDF;
	border-radius: 4px;
	font-size: 17px;
	height: 5%;
	outline: none;
}

#overlay-edit-img {
	width:2%;
}


#overlay-buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 17%;
}

.overlay-button {
	width: 50%;
	height: 100%;
	background-color:#403954;
	border:1px solid #FEEDDF1F;
	border-radius: 0 0 4px 4px ;
	color: #FEEDDF;
	font-size: 15px;
	cursor: pointer;
}


/*CSS for the tabs*/

.react-tabs__tab-panel {
	padding-right:2%;
	padding-left:2%;
}

.react-tabs__tab-list {
	list-style-type: none;
	margin-top: 10vh;
	margin-bottom: 9vh;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.react-tabs__tab {
	display:inline;
	padding:10%;
	padding-bottom: 5%;
	cursor:pointer;
}

.react-tabs__tab--selected {
	border-bottom:3px solid #FA4D3D;
	color: #FA4D3D;
	font-weight: 700;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}


